.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 75px;
}

.board {
  display:flex;
  flex-wrap: wrap;
  width: 610px;
  margin: 0 auto;
  width: 320px
}

.title { 
  text-align: center;
}